/* General Styles */
body {
    background-color: rgb(20, 26, 31);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}

/* Block Container */
.blockParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 50px;
    padding: 0 20px;
    max-width: 1200px;
}

.block {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(39, 46, 53);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.block:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.block img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #555;
}

.block h1 {
    margin: 15px;
    font-size: 2rem;
    color: rgb(252, 211, 77);
}

.block .text {
    padding: 15px;
    font-size: 1rem;
    color: #a3c2cd;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .hero .text h1 {
        font-size: 2rem;
    }

    .hero .text p {
        font-size: 1rem;
    }

    .blockParent {
        gap: 15px;
    }

    .block {
        width: 90%;
    }

    .block h1 {
        font-size: 1.3rem;
    }

    .block .text {
        font-size: 0.9rem; /* Adjust text size for smaller screens */
    }
}