
table, th, td {
    border: 1px solid rgb(156 184 196);
    color: rgb(156 184 196);
}

p {
    color: rgb(252 211 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    color: rgb(156 184 196);
    margin: 1%;
}

h2 {
    font-size: 1.7vw;
    text-align: center; 
    color: rgb(156 184 196);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

table.GeneratedTable {
    margin-left: auto; 
    margin-right: auto; 
    width: 90%;
    background-color: rgb(20, 26, 31);
    border-collapse: collapse;
    border-width: 2px;
    border-color: rgb(156 184 196);
    border-style: solid;
    color: #000000;
    table-layout: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: rgb(156 184 196);
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: rgb(156 184 196);
}

a {
    color:rgb(252 211 77);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(20, 26, 31);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.dropdown button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}