#divbovenin 
{
	width:100%;
	display:flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
}
.blok 
{
	display:inline-block;
	width:90%;
	height:4000px;
	color:white;
	margin:20px;
    background-color: black;
}
.mogus {
    margin: 5%;
    width: 90%;
    aspect-ratio: 3/2;
    background-color: rgb(132, 132, 132);
    border-radius: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}
.blockParent{
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.block{
    margin: 2.5%;
    width: 50%;
    aspect-ratio: 3/2;
    text-align: center;
    display: inline-block;
    display: flex;
    background-color: black;
    border-radius: 20px;
    align-items: flex-end;
    justify-content: center;
}

.fotoblock{

}

.block2{
    margin: 2.5%;
    width: calc(100%/3);
    text-align: center;
    display: inline-block;
    display: flex;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    align-items: flex-end;
    justify-content: center;
}

table, th, td {
    border: 1px solid rgb(156 184 196);
    color: rgb(156 184 196);
}

p {
    color: rgb(252 211 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    color: rgb(156 184 196);
    margin: 0;
}

h2 {
    font-size: 1.7vw;
    text-align: center; 
    color: rgb(156 184 196);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

table.GeneratedTable {
  width: 100%;
  background-color: rgb(20, 26, 31);
  border-collapse: collapse;
  border-width: 2px;
  border-color: rgb(156 184 196);
  border-style: solid;
  color: #000000;
  table-layout: fixed;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: rgb(156 184 196);
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: rgb(156 184 196);
}

a {
    color:rgb(252 211 77);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(20, 26, 31);
}